extends layout/index

block contenido
    div.py-10
        h1.text-2xl.my-10.font-extrabold.text-center Bienvenido al Archivo Histórico Municipal de Mazatlán
            span.font-normal
        h2.text-center.text-3xl.font-extrabold #{pagina} Inicia sesión

        p.text-xl.font-bold.text-center.my-10= mensaje
