extends layout/index

block contenido
    div.py-10
        h1.text-2xl.my-10.font-extrabold.text-center Bienvenido al Archivo Histórico Municipal de Mazatlán
            span.font-normal
        h2.text-center.text-3xl.font-extrabold #{pagina} 
    
    .mt-8.mx-auto.max-w-md
        .bg-gray-100.py-8.px-4.shadow
            form.space-y-(method="POST" action="/auth/olvidepassword")
                div
                    label.block.text-sm.uppercase.text-blue-600.mb-2.font-bold(for="email") E-mail
                    input#email.w-full.px-3.py-2.border-gray-300.rounded-md.placeholder-gray-400(type="email" placeholder="E-mail" name="email")
                div.mt-4
                    button.w-full.bg-blue-600.text-white.py-2.px-4.rounded-md.font-bold.cursor-pointer(type="submit") Enviar enlace de restablecimiento
